@import "../../global/theme";

.settingsLeftbar {
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid #66666623;
    width: 250px;
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
 
        .settingsItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 15px 10px;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                background-color: #6666665e;            }
           
        }

        .active {
            background-color: #6666665e;
        }
    }
}

@media screen and (max-width: 1250px) {
    .settingsLeftbar {
        max-width: 150px!important;
    }
}

